<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"> 

    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <h2>{{title}}</h2>
            <p>This site uses data from mapbox.com and darksky.net</p>
        </div>
        {{>footer}}
    </body>
</html>